<div class="md:flex ">
  <div class="w-[65%]">
    <img src="registerImg.jpg" alt="image" class="rounded-br-[6rem]">
  </div>
  <div class="w-72 m-auto p-4">
    <p class="text-3xl">Register</p>
    <form [formGroup]="registerForm" (ngSubmit)="register()">
      <mat-form-field appearance="fill" class="my-5 w-60">
        <mat-label>Username</mat-label>
        <input matInput type="text" formControlName="username" required />
        <mat-hint>Minimum 3 characters</mat-hint>
      </mat-form-field>

      <mat-form-field appearance="fill" class="w-auto">
        <mat-label>Password</mat-label>
        <input matInput [type]="hide() ? 'password' : 'text'" formControlName="password" required />
        <button mat-icon-button matSuffix type="button" (click)="togglePasswordVisibility($event)"
          [attr.aria-label]="'Hide password'">
          <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-hint>Minimum 3 characters</mat-hint>
      </mat-form-field>

      <span class="flex justify-between w-60">
        <button mat-raised-button color="primary mt-4" type="button" (click)="navigateToHome()">Home</button>
        <button mat-raised-button color="primary mt-4" type="submit">Register</button>
      </span>
      <p class="text-sm my-4 text-slate-600	">
        If you Already registered ? Login.
      </p>
    </form>
  </div>
</div>